{% extends "layout.html" %}

{% block title %}
    Current Students
{% endblock %}

{% block main %}
    <!--<form action="{{ url_for('main.teacher') }}" method="post">
        <input type="hidden" name="add_or_delete" value="d">
        <div class="form-group">
            <select class="form-control" name="subject_of_teacher">
                <option disabled selected value="">Choose Subject</option>
                {% for subject in subjects %}
                    <option value="{{ subject }}">{{ subject }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" name="classs_of_teacher">
                <option disabled selected value="">Choose Class</option>
                {% for classs in classes %}
                    <option value="{{ classs }}">{{ classs }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" name="delete_subject" type="submit" enabled>Delete Subject</button>
    </form>-->

    <!--<form action="{{ url_for('main.teacher_students') }}" method="post">
        <input type="hidden" name="add_or_delete" value="s">
        <h1></h1>
        <button class="btn btn-primary" name="add_students" type="submit" enabled>Add New Students</button>
        <h1></h1>
    </form>-->

    <p><b>Add new students</b></p>
    <form action="{{ url_for('main.teacher_students') }}" method="POST">
        <input type="hidden" name="add_or_remove" value="a">
        <div class="form-group">            
            <select class="form-control" name="subject_of_teacher">
                <option disabled selected value="">Choose Subject</option>
                {% for subject in subjects %}
                    <option value="{{ subject }}">{{ subject }}</option>
                {% endfor %}
            </select>
        
            <select class="form-control" name="classs_of_teacher">
                <!-- <option disabled selected value="">Choose Class</option> -->
                <option disabled selected value="">Choose Grade</option>
                {% for classs in classes %}
                    <option value="{{ classs }}">{{ classs }}</option>
                {% endfor %}
            </select>
            
            <input class="form-control" name="student" placeholder="Student's name" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add Student</button>
        <h1> </h1>
    </form>

    
    <p><b>Remove current students</b></p>
    <form action="{{ url_for('main.teacher_students') }}" method="POST">
        <input type="hidden" name="add_or_remove" value="r">
        <div class="form-group">            
            <select class="form-control" name="subject_of_teacher">
                <option disabled selected value="">Choose Subject</option>
                {% for subject in subjects %}
                    <option value="{{ subject }}">{{ subject }}</option>
                {% endfor %}
            </select>
        
            <select class="form-control" name="classs_of_teacher">
                <!-- <option disabled selected value="">Choose Class</option> -->
                <option disabled selected value="">Choose Grade</option>
                {% for classs in classes %}
                    <option value="{{ classs }}">{{ classs }}</option>
                {% endfor %}
            </select>
            
            <input class="form-control" name="student" placeholder="Student's name" type="text">
        </div>
        <button class="btn btn-danger" type="submit">Remove Student</button>
        <h1> </h1>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Teacher ID</th>
                <th>Student ID</th>
                <th>Student Name</th>
                <th>Student Email</th>
                <th>Subject ID</th>
                <th>Subject Name</th>
                <!-- <th>Subject Class</th> -->
                <th>Subject Grade</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{ final_value }}</td>
            </tr>
        </tfoot>

        <tbody>
            {% for student in students_list %}
                <tr>
                    <!--
                    <td>{{ student["teacher_id"] }}</td>
                    <td>{{ student["student_id"] }}</td>-->
                    <td>{{ current_user.id }}</td>
                    <td>{{ student[0].id }}</td>
                    <td>{{ student[0].name }}</td>
                    <td>{{ student[0].email }}</td>
                    <td>{{ student[1].subject_id }}</td>
                    <td>{{ student[2].name }}</td>
                    <td>{{ student[2].classs }}</td>
                    <!--
                    <td>{{ student["shares"] }}</td>
                    <td>{{ student["price"] }}</td>-->
                    <!--<td>{{ loop.index }}</td>-->
                    <td>
                        <!--<form action="/" method="post">
                            <class="form-group">
                                <input autocomplete="off" class="form-control" min="1" max="5000" id="shares" name="shares" placeholder="Shares" type="number">
                                <input type="hidden" id="index" name="symbol" value="{{ student["symbol"] }}">
                                <button class="btn btn-primary" id="submit1" name="buy" type="submit" enabled>Buy</button>
                                <button class="btn btn-primary" id="submit2" name="sell" type="submit" enabled>Sell</button>
                            
                        </form>-->

                        <!--<script>
                            document.querySelector("#shares").onkeyup = function() {
                                if (document.querySelector("#shares").value === "") {
                                    document.querySelector("#submit1").disabled = true;
                                    document.querySelector("#submit2").disabled = true;
                                }
                                else {
                                    document.querySelector("#submit1").disabled = false;
                                    document.querySelector("#submit2").disabled = false;
                                }
                            }
                        </script>-->
                    </td>
                </tr>
            {% endfor %}

            <!-- <tr>
                <td colspan="4">CASH</td>
                <td>{{ remaining_cash }}</td>
            </tr> -->
        </tbody>
    </table>
{% endblock %}